* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif, '微軟正黑體';
}

html,
body {
    height: 100vh;
    background-color: #f0f0f0;
    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: none;
    color: #222;
}

.nmd-menu-wrapper {
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    display: none;
}

/* header */
.nmd-header {
    background-color: #18130E;
    height: 60px;
    width: 100%;
}

.nmd-header-nav {
    display: flex;
    clear: both;
    justify-content: space-between;
    align-items: stretch;
    color: #fff;
}

.nav-left {
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

.nav-right {
    padding-top: 12px;
    padding-right: 20px;
}

.nav-right svg {
    cursor: pointer;
    margin-right: 5px;
}

.nav-left a {
    transition: .5s;
}

.nav-left a:hover {
    filter: opacity(.8) brightness(1.5);
}


/* 首屏滿版大圖 */
.top-full-bac {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/test.jfif') no-repeat;
    filter: saturate(0);
    background-position: center center;
    background-size: cover;
    padding: 0;
    position: relative;
    z-index: 50;
}

.title-box {
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.title-box h3,
.title-box h2 {
    text-align: left;
    font-family: 'Noto Sans', 'Sans-serif', '微軟正黑體';
    font-weight: 600;
    color: #1F1B1B;
    letter-spacing: 3px;
    /* text-shadow: 0 0 10px #8c8c8c; */
}

.title-box h3 {
    font-weight: 500;
    margin-bottom: 5px;
    color: #18130E;
}

.title-box span {
    color: #4A4647;
    font-weight: 500;
    letter-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 文章照片 + 圖說 */
.article-story-image {
    text-align: center;
}

.article-story-image img {
    width: 620px;
}

#note {
    margin-top: 10px;
    text-align: left;
}


/* 滿版大圖滾動視差 */
.full-fixed {
    width: 100%;
    height: 100vh;
    background: url('../images/test_pic10.jpeg');
    filter: saturate(0);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: -1;
}

.article-full-fixed {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;

}

.fixd-background-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fixd-background-img img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translateZ(0);
}

.article-full-fixed .title-box {
    text-align: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 關鍵數字demo */
#key-num {
    width: 620px;
    margin: 0 auto;
    justify-content: center;
    letter-spacing: 2px;
    color: #21ABCD;
}

#key-color {
    color: #D600D6;
}

.key-num1 {
    font-weight: 700;
    font-size: 48px;
}

.key-num2 {
    font-weight: 400;
    font-size: 24px;
}

/* 滿版大圖滾動視差 | 背景圖變換 */
section#fullParallax {
    height: 100vh;
}

section#fullParallax>div {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    transition: opacity 2s ease;
    background-attachment: fixed;
}

#fullParallax-img1 {
    background: url('../images/test_pic2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
}

#fullParallax-img2 {
    background: url('../images/test_pic3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0;
}

#fullParallax-img-con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 1.5rem;
    /* text-shadow: 0 0 10px #222; */
    letter-spacing: 5px;
    /* color: #fff; */
    color: #1F1B1B;
    transition: opacity 2s ease;
}

#span {
    display: block;
    font-size: 1.6em;
    font-weight: 400;
    background-color: #fff;
    padding: 5px 10px;
    text-align: center;
    /* background-color: #1F1B1B; */
}
/* 滿版大圖，文字滾動視差 */
.parallax-sec01[data-v-528c1960] {
    height: 280vh;
    position: relative;
    width: 100%
}

.parallax-sec01__sticky-img[data-v-528c1960] {
    height: 100vh;
    margin: 0 auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1
}

.parallax-sec01__bg-text[data-v-528c1960] {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

.parallax-sec01__text-box {
    /* background-color: #fff; */
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0 auto;
    padding: 5px 30px;
}

.parallax-sec01__text-box,
.parallax-sec01__text-box h3 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-shadow: none;
}

.parallax-sec01__image,
.parallax-sec01__image>img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.parallax-sec01__text-box h3 {
    display: block;
}

.parallax-sec01__text-box h3 {
    font-family: 'Noto Sans TC', ' sans-serif';
    font-weight: 400;
    background-color: #fff;
    color: #404040;
    padding: 10px 20px;
    letter-spacing: 3px;
}

.puparallax-sec01text-box .parallax-sec01__space {
    display: none
}

/* flourish 圖表 */
#chart {
    width: 620px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .parallax-sec01__text-box .parallax-sec01__space {
        display: inline;
    }
}

@media screen and (min-width: 768px) and (max-width:1023.98px) {
    .parallax-sec01__text-box {
        max-width: calc(100vw - 298px);
    }

}

@media screen and (min-width: 375.02px) and (max-width:767.98px) {
    .parallax-sec01__text-box {
        max-width: calc(100vw - 112px);
    }
}

@media screen and (max-width: 375px) {
    .parallax-sec01__text-box {
        max-width: calc(100vw - 80px);
        padding: 5px 20px;
    }
}


/* 滿版滾動視差RWD */
@media all and (max-width: 768px) {

    .article-full-fixed .title-box,
    #key-num {
        width: 530px;
        text-align: left;
    }

    #chart {
        width: 530px;
    }
}

@media all and (min-width:500px) and (max-width:549px) {

    .article-full-fixed .title-box,
    #key-num,
    #chart {
        width: 362px;
    }
}

@media all and (min-width:450px) and (max-width:499px) {

    .article-full-fixed .title-box,
    #key-num,
    #chart {
        width: 362px;
    }
}

/* iPhone 12 Pro Max 428px */
@media all and (min-width:428px) and (max-width:449px) {

    .article-full-fixed .title-box,
    #key-num,
    #chart {
        width: 280px;
    }
}

/* iphone 6/7/8 plus  &  iPhone XS Max  &  iPhone 11 Pro Max 414px */
@media all and (min-width:414px) and (max-width:427px) {

    .article-full-fixed .title-box,
    #key-num,
    #chart {
        width: 280px;
    }
}

/* iphone 12 & iphone 12Pro  390px */
@media all and (min-width:390px) and (max-width:413px) {

    .article-full-fixed .title-box,
    #key-num,
    #chart {
        width: 280px;
    }
}

/* iphone X  &  iphone 6/7/8  &  iPhone 11 Pro  375px*/
@media all and (min-width:375px) and (max-width:413px) {

    .article-full-fixed .title-box,
    #key-num,
    #chart {
        width: 280px;
    }
}

/* iphone 12 mini  360px*/
@media all and (min-width:360px) and (max-width:374px) {

    .article-full-fixed .title-box,
    #key-num,
    #chart {
        width: 280px;
    }
}

@media all and (min-width:321px) and (max-width:359px) {

    .article-full-fixed .title-box,
    #key-num,
    #chart {
        width: 270px;
    }
}

/* 320px */
@media all and (max-width:320px) {

    .article-full-fixed .title-box,
    #key-num,
    #chart {
        width: 260px;
    }
}

/* footer */
.nmd-footer {
    font-family: Noto Sans TC, source-han-sans-traditional, sans-serif
}

.footer__top {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 858px;
    padding-left: 26px;
    padding-right: 26px;
    width: 100%
}

@media screen and (min-width: 768px) {
    .footer__top {
        padding-left: 119px;
        padding-right: 119px
    }
}

.nmd-footer {
    align-items: center;
    background-color: #232323;
    border-top: 5px solid #cb2529;
    color: #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 240px;
    padding: 16px;
    position: relative;
    text-align: center
}

.nmd-footer__links>a {
    fill: #d8d8d8;
    display: inline-block;
    height: 36px;
    text-decoration: none;
    transition: fill .3s;
    vertical-align: top;
    width: 36px
}

.nmd-footer__links>a:active,
.nmd-footer__links>a:hover {
    fill: #cb2529
}

.nmd-footer__links>a+a {
    margin-left: 10px
}

.nmd-footer__links svg {
    display: block;
    height: 100%;
    width: 100%
}

.nmd-footer__nav {
    font-size: 13px;
    letter-spacing: 1.3px;
    line-height: 19px;
    margin-top: 15px
}

.nmd-footer__nav>a {
    text-decoration: none
}

.nmd-footer__nav>a:active,
.nmd-footer__nav>a:hover,
.nmd-footer__nav>a:link,
.nmd-footer__nav>a:visited {
    color: inherit
}

.nmd-footer__nav>a:hover {
    text-decoration: underline
}

.nmd-footer__copyright {
    font-family: Microsoft JhengHei, Roboto, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 13px;
    margin-top: 14px
}

/* goTop 按鈕 */
.nmd-to-top {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    background-color: initial;
    background-color: #ffffffe6;
    border: none;
    border-radius: 50%;
    bottom: 50px;
    box-shadow: 0 3px 6px #00000029;
    cursor: pointer;
    height: 40px;
    outline: none;
    padding: 0;
    position: fixed;
    right: 30px;
    transform: translateY(0);
    width: 40px;
    z-index: 10;
}

@media screen and (min-width: 768px) {
    .nmd-to-top {
        bottom: 80px
    }
}

.nmd-to-top:hover {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: hoverEffect;
    animation-name: hoverEffect;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@-webkit-keyframes hoverEffect {
    16.65% {
        transform: translateY(6px)
    }

    33.33% {
        transform: translateY(-5px)
    }

    49.95% {
        transform: translateY(4px)
    }

    66.6% {
        transform: translateY(-2px)
    }

    83.25% {
        transform: translateY(1px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes hoverEffect {
    16.65% {
        transform: translateY(6px)
    }

    33.33% {
        transform: translateY(-5px)
    }

    49.95% {
        transform: translateY(4px)
    }

    66.6% {
        transform: translateY(-2px)
    }

    83.25% {
        transform: translateY(1px)
    }

    to {
        transform: translateY(0)
    }
}

.nmd-to-top-enter-active,
.nmd-to-top-leave-active {
    transition: opacity .3s linear, transform .3s linear
}

.nmd-to-top-enter-from,
.nmd-to-top-leave-to {
    opacity: 0;
    transform: translateY(100%)
}