* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif, '微軟正黑體';
}

html,
body {
    height: 100%;
    background-color: #f0f0f0;
    -webkit-overflow-scrolling: touch;
}

/* 首屏滿版大圖 */
.top-full-bac {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/test_bg.webp') no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0;
    position: relative;
}

.title-box h3,
.title-box h2 {
    text-align: left;
    font-family: 'Noto Sans', 'Sans-serif', '微軟正黑體';
    font-weight: 600;
    color: #fff;
}

/* 文章照片 + 圖說 */
.article-story-image {
    text-align: center;
}

.article-story-image img {
    width: 620px;
}

#note {
    text-align: left;
}


/* 滿版大圖滾動視差 */
.full-fixed {
    width: 100%;
    height: 100vh;
    background: url('../images/test_pic2_1.jpeg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: -1;
}

.article-full-fixed {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;

}

.fixd-background-img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fixd-background-img img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translateZ(0);
}

.article-full-fixed .title-box {
    text-align: left;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#key-num{
    width: 620px;
    margin: 0 auto;
    justify-content: center;
    letter-spacing: 2px;
    color: #D600D6;
}

.key-num1 {
    font-weight: 700;
    font-size: 48px;
}

.key-num2 {
    font-weight: 400;
    font-size: 24px;
}

/* 滿版滾動視差RWD */
@media all and (max-width: 768px) {

    .article-full-fixed .title-box , #key-num{
        width: 530px;
        text-align: left;
    }
}

@media all and (min-width:500px) and (max-width:549px) {

    .article-full-fixed .title-box ,#key-num {
        width: 362px;   
    }
}

@media all and (min-width:450px) and (max-width:499px) {

    .article-full-fixed .title-box,#key-num {
        width: 362px;
    }
}

/* iPhone 12 Pro Max 428px */
@media all and (min-width:428px) and (max-width:449px) {

    .article-full-fixed .title-box,#key-num {
        width: 280px;
    }
}

/* iphone 6/7/8 plus  &  iPhone XS Max  &  iPhone 11 Pro Max 414px */
@media all and (min-width:414px) and (max-width:427px) {

    .article-full-fixed .title-box,#key-num {
        width: 280px;
    }
}

/* iphone 12 & iphone 12Pro  390px */
@media all and (min-width:390px) and (max-width:413px) {

    .article-full-fixed .title-box,#key-num {
        width: 280px;
    }
}

/* iphone X  &  iphone 6/7/8  &  iPhone 11 Pro  375px*/
@media all and (min-width:375px) and (max-width:413px) {

    .article-full-fixed .title-box,#key-num {
        width: 280px;
    }
}

/* iphone 12 mini  360px*/
@media all and (min-width:360px) and (max-width:374px) {

    .article-full-fixed .title-box,#key-num,#key-num {
        width: 280px;
    }
}

@media all and (min-width:321px) and (max-width:359px) {

    .article-full-fixed .title-box,#key-num {
        width: 270px;
    }
}

/* 320px */
@media all and (max-width:320px) {

    .article-full-fixed .title-box,#key-num {
        width: 260px;
    }
}