.parallax-sec01[data-v-528c1960] {
    height: 280vh;
    position: relative;
    width: 100%
}

.parallax-sec01__sticky-img[data-v-528c1960] {
    height: 100vh;
    margin: 0 auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1
}

.parallax-sec01__bg-text[data-v-528c1960] {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

.parallax-sec01__text-box {
    /* background-color: #fff; */
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0 auto;
    padding: 5px 30px;
}

.parallax-sec01__text-box,
.parallax-sec01__text-box h3 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-shadow: none;
}

.parallax-sec01__image,
.parallax-sec01__image>img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.parallax-sec01__text-box h3 {
    display: block;
}

.puparallax-sec01text-box .parallax-sec01__space {
    display: none
}

@media screen and (min-width: 1024px) {
    .parallax-sec01__text-box .parallax-sec01__space {
        display: inline;
    }
}

@media screen and (min-width: 768px) and (max-width:1023.98px) {
    .parallax-sec01__text-box {
        max-width: calc(100vw - 298px);
    }
}

@media screen and (min-width: 375.02px) and (max-width:767.98px) {
    .parallax-sec01__text-box {
        max-width: calc(100vw - 112px);
    }
}

@media screen and (max-width: 375px) {
    .parallax-sec01__text-box {
        max-width: calc(100vw - 80px);
        padding: 5px 20px;
    }
}

.parallax-sec01__text-box h3{
    color: #fff;
    letter-spacing: 3px;
}
